$logo-color: #6a00ff;
$italic-color: #6a00ff;
$black-color: #efe3ff;
$accent-color: #9d51fe;
$bcg-color: #1F212D;
$text-color: rgba(246, 245, 239, 0.50);
$bcg-gray-color: rgb(132, 255, 98);
$btn-hover-color: #8223ff;